@model IEnumerable<TaskApp.ViewModels.FallViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@foreach(var fall in Model){
    <h1>@fall.latitude</h1>
    <h1>@fall.longitude</h1>
    <h1>@fall.time_of_fall</h1>

}
